body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-elements {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  padding-block: 1rem;
}

.form-select option {
  text-transform: capitalize;
}

.intervals {
  font-size: 0.8rem;
  color: var(--bs-gray-500);
  font-weight: 400;
}

.cell-toggle {
  outline: 2px solid pink;
  outline-offset: -2px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  z-index: 1;
}

.cell-diatonic {
  background-color: rgba(var(--bs-info-rgb), 0.25) !important;
}

table td, th {
  position: relative;
  padding: 1rem;
}

table td:not(:first-child) {
  cursor: pointer;
}
