body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.form-elements {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 1rem;
  min-height: 100px;
  margin-top: 3rem;
}

.form-select option {
  text-transform: capitalize;
}

.intervals {
  font-size: 0.8rem;
  color: var(--bs-gray-500);
  font-weight: 400;
}

.cell-toggle {
  outline: 2px solid hotpink;
  outline-offset: -2px;
}

.badge-top-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  z-index: 1;
}

.cell-diatonic {
  background-color: rgba(var(--bs-info-rgb), 0.2) !important;
}

.highlight.cell-diatonic {
  background-color: rgba(var(--bs-info-rgb), 0.3) !important;
}

.cell-non-diatonic-1 {
  background-color: rgba(var(--bs-info-rgb), 0.08) !important;
}

table td, th {
  position: relative;
  padding: 1.5rem;
}

.table>:not(caption)>*>* {
  padding: 0.75rem;
}

table td:not(:first-child) {
  cursor: pointer;
}

.form-group-left {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  min-height: 100px;
}

.form-group-right {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  min-height: 100px;
}

.form-check.form-switch {
  padding-left: 2.5em;
}

.active-chords-list {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.active-chords-list-item {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--bs-gray-300);
  border-radius: 0.25rem;
}